html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    background: rgb(255, 132, 132);
    margin: 0;
}

.stop {
    overflow-x: hidden;
}

nav {
    height: 70px;
    width: 100%; /* Ajout de cette ligne */
    background-color: #1d3140;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#overlay {
    mix-blend-mode: multiply;
    background-color: #1d3140;
    width: 45%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#section1 {
    background: url("https://images.unsplash.com/photo-1557878499-95663e82c9d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 70px;
}

#section2 {
    background: brown;
    height: 200vh;
}

#sectionPin {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pin-wrap {
    background: pink;
    height: 100vh;
    width: 300vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pin-box {
    height: 100%;
    width: 100vw;
    background: green;
    border: 5px solid #fff;
}

#section3 {
    background: orange;
    padding: 5%;
    display: flex;
    justify-content: space-around;
}

#section4 {
    background: grey;
    padding: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*BOX________________________________________________________________*/

.box__ctn {
    margin-top: 30vh;
    display: flex;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.line {
    margin-top: 15vh;
    width: 100%;
    opacity: 0;
    max-width: 800px;
    height: 8px;

    position: relative;

    background-color: rgba(255, 255, 255, 1);
}

.box {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
#box1 {
    height: 100px;
    width: 100px;
    background: red;
}

#box2 {
    height: 150px;
    width: 150px;
    background: blue;
}

#box3 {
    height: 250px;
    width: 250px;
    background: green;
    z-index: 1;
    visibility: hidden;
}

#box3:hover {
    cursor: pointer;
}

#box4first {
    width: 50px;
    height: 50px;
    background-color: rgb(241, 84, 255);
}

#box4 {
    height: 200px;
    width: 200px;
    background: orange;
}

#box5 {
    height: 200px;
    width: 200px;
    background: orange;
}

#box6 {
    height: 200px;
    width: 200px;
    background: orange;
}

#box7 {
    height: 200px;
    width: 400px;
    background: grey;
}

#box8 {
    width: 50%;
}

#box9 {
    width: 50%;
    height: 300px;
    background: purple;
}
